{% extends "admin/base.html" %}
{% block title %}操作日志{% endblock %}
{% block page_title %}操作日志{% endblock %}
{% block body %}
<div class="panel">
<table class="table">
  <thead><tr><th>时间</th><th>管理员</th><th>操作</th><th>对象</th><th>详情</th><th>IP</th></tr></thead>
  <tbody>
  {% for log in pagination.items %}
  <tr>
    <td class="cell-nowrap">{{ log.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    <td>{{ log.admin_name }}</td>
    <td><span class="log-badge">{{ log.action }}</span></td>
    <td>{{ log.target }}</td>
    <td>{{ log.detail }}</td>
    <td>{{ log.ip }}</td>
  </tr>
  {% else %}<tr><td colspan="6" class="empty">暂无日志</td></tr>{% endfor %}
  </tbody>
</table>
</div>
{% set base_args = {} %}
{% include "admin/_pagination.html" %}
{% endblock %}
